body {
  background-color: tan;
}
div {
  background-color: yellow;
  color: green;
}
ul {
  background-color: #03A9F4;
  padding: 10px;
  list-style: none;
}
ul li {
  background-color: #ffffff;
  border-radius: 3px;
  margin: 10px 0;
  color: red;
}
ul li div {
  color: tan;
  background-color: #ffffff;
}
#small-circle {
  background-color: #4CAF50;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}
#big-circle {
  background-color: #4CAF50;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}
